In [6]:
print("hello  \
python")

hello  python

In [7]:
print("""  hello  """)

  hello

In [9]:
print("python\'s error")

python's error

In [11]:
print("python\'s \nerror")

python's
error

In [13]:
name="SRA"
marks=90.6875
age=25
print("the name of person is",name,"marks is ",marks,"age is ",age)

the name of person is SRA marks is  90.6875 age is  25

In [14]:
print("the name of person is %s marks is %f age is %d"%(name ,marks,age))

the name of person is SRA marks is 90.687500 age is 25

In [15]:
print("the name of person is %10s marks is %10.5f age is %d"%(name ,marks,age))

the name of person is        SRA marks is   90.68750 age is 25

In [18]:
5**5

3125

In [19]:
10-20

-10

In [20]:
10/2

5.0

In [21]:
10/3

3.3333333333333335

In [22]:
40%3

1

In [23]:
50//3

16

In [24]:
a=10
b=20
a==b

False

In [25]:
c=10
a==c

True

In [26]:
c<=a

True

In [29]:
a+=20
print(a)

70

In [32]:
a=240
b=1
a|b

241

In [33]:
a&b

0

In [34]:
a>20 |b>50

False

In [35]:
a>20 | M

NameError: name 'M' is not defined

In [37]:
10>9 |20>M

False

In [38]:
not 10<9

True

In [39]:
a!=b

True

In [41]:
str1 ="python programming"
"m" in str1

True

In [42]:
str1 ="python programming"
"k" in str1

False

In [44]:
a=10
b=10
a is b

True

In [45]:
id(a)

140706737001568

In [47]:
id(b)

140706737001568

In [49]:
x=2.3
y=2.3
x==y

True

In [50]:
x is y

False

In [51]:
x=285
y=285
x==y

True

In [52]:
10+10/20*4

12.0

In [53]:
10/29

0.3448275862068966

In [54]:
10//9

1